<!DOCTYPE html>
<html>
<head>
    <title>Vishwakarma Industries</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Vishwakarma Industries" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    @*<link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
        <link href="~/Content/css/tikslus360.css" rel="stylesheet" />*@

    <script type='text/javascript' src='~/Content/unitegallery/js/jquery-11.0.min.js'></script>
    @*    <script src="~/Content/js/move-top.js"></script>
        <script src="~/Content/js/easing.js"></script>
        <script src="~/Content/js/easyResponsiveTabs.js" type="text/javascript"></script>
        <script src="~/Content/js/tikslus360.min.js"></script>
        <script src="~/Content/js/rainbow.min.js"></script>*@

    @*<script type='text/javascript' src='~/Content/unitegallery/js/ug-common-libraries.js'></script>
        <script type='text/javascript' src='~/Content/unitegallery/js/ug-functions.js'></script>
        <script type='text/javascript' src='~/Content/unitegallery/js/ug-thumbsgeneral.js'></script>
        <script type='text/javascript' src='~/Content/unitegallery/js/ug-thumbsstrip.js'></script>
        <script type='text/javascript' src='~/Content/unitegallery/js/ug-touchthumbs.js'></script>
        <script type='text/javascript' src='~/Content/unitegallery/js/ug-panelsbase.js'></script>
        <script type='text/javascript' src='~/Content/unitegallery/js/ug-strippanel.js'></script>
        <script type='text/javascript' src='~/Content/unitegallery/js/ug-gridpanel.js'></script>
        <script type='text/javascript' src='~/Content/unitegallery/js/ug-thumbsgrid.js'></script>
        <script type='text/javascript' src='~/Content/unitegallery/js/ug-tiles.js'></script>
        <script type='text/javascript' src='~/Content/unitegallery/js/ug-tiledesign.js'></script>
        <script type='text/javascript' src='~/Content/unitegallery/js/ug-avia.js'></script>
        <script type='text/javascript' src='~/Content/unitegallery/js/ug-slider.js'></script>
        <script type='text/javascript' src='~/Content/unitegallery/js/ug-sliderassets.js'></script>
        <script type='text/javascript' src='~/Content/unitegallery/js/ug-touchslider.js'></script>
        <script type='text/javascript' src='~/Content/unitegallery/js/ug-zoomslider.js'></script>
        <script type='text/javascript' src='~/Content/unitegallery/js/ug-video.js'></script>
        <script type='text/javascript' src='~/Content/unitegallery/js/ug-gallery.js'></script>
        <script type='text/javascript' src='~/Content/unitegallery/js/ug-lightbox.js'></script>
        <script type='text/javascript' src='~/Content/unitegallery/js/ug-carousel.js'></script>
        <script type='text/javascript' src='~/Content/unitegallery/js/ug-api.js'></script>*@

    @*<link rel='stylesheet' href='~/Content/unitegallery/css/unite-gallery.css' type='text/css' />*@
    @*<script type='text/javascript' src='~/Content/unitegallery/themes/default/ug-theme-default.js'></script>*@
    @*<link rel='stylesheet' href='~/Content/unitegallery/themes/default/ug-theme-default.css' type='text/css' />*@



    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkP9mCP7dkuTV2sZMw9_mRbdFNqGE-ObY&callback=initMap&libraries=&v=weekly"
            async></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1200);
            });
        });

        function initMap() {
            const myLatLng = { lat: 23.1656, lng: 72.8122 };
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 13,
                center: myLatLng,
            });
            new google.maps.Marker({
                position: myLatLng,
                map,
                title: "Vishwakarma Industries",
            });
        }
    </script>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }

        #gallery {
            max-width: 100% !important;
            min-width: 150px;
            height: 500px;
        }
    </style>
</head>
<body>
        @RenderBody()
        @*<hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
