<!DOCTYPE html>
<html>
<head>
    <title>Vishwakarma Industries</title>
    <!-- add icon link -->
    <link rel="icon" href="~/Content/images/Title_Icon.png"
          type="image/x-icon">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Vishwakarma Industries" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script type='text/javascript' src='~/Content/unitegallery/js/jquery-11.0.min.js'></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1200);
            });
        });


    </script>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }

        #gallery {
            max-width: 100% !important;
            min-width: 150px;
            height: 500px;
        }
    </style>
</head>
<body>
        @RenderBody()
        @*<hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
